<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chanyun.dao.PaymentApplyMapper" >
  <resultMap id="BaseResultMap" type="com.chanyun.entity.PaymentApply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="pay_order_no" property="payOrderNo" jdbcType="VARCHAR" />
    <result column="channel_type" property="channelType" jdbcType="VARCHAR" />
    <result column="payment_type" property="paymentType" jdbcType="VARCHAR" />
    <result column="prepay_data" property="prepayData" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="logic_delete" property="logicDelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, pay_order_no, channel_type, payment_type, prepay_data, create_time, 
    logic_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_payment_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_payment_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chanyun.entity.PaymentApply" >
    insert into tb_payment_apply (id, order_no, pay_order_no, 
      channel_type, payment_type, prepay_data, 
      create_time, logic_delete)
    values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{payOrderNo,jdbcType=VARCHAR}, 
      #{channelType,jdbcType=VARCHAR}, #{paymentType,jdbcType=VARCHAR}, #{prepayData,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{logicDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.chanyun.entity.PaymentApply" >
    insert into tb_payment_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="payOrderNo != null" >
        pay_order_no,
      </if>
      <if test="channelType != null" >
        channel_type,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="prepayData != null" >
        prepay_data,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="logicDelete != null" >
        logic_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="payOrderNo != null" >
        #{payOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="channelType != null" >
        #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="prepayData != null" >
        #{prepayData,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logicDelete != null" >
        #{logicDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chanyun.entity.PaymentApply" >
    update tb_payment_apply
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="payOrderNo != null" >
        pay_order_no = #{payOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="channelType != null" >
        channel_type = #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        payment_type = #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="prepayData != null" >
        prepay_data = #{prepayData,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logicDelete != null" >
        logic_delete = #{logicDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chanyun.entity.PaymentApply" >
    update tb_payment_apply
    set order_no = #{orderNo,jdbcType=VARCHAR},
      pay_order_no = #{payOrderNo,jdbcType=VARCHAR},
      channel_type = #{channelType,jdbcType=VARCHAR},
      payment_type = #{paymentType,jdbcType=VARCHAR},
      prepay_data = #{prepayData,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      logic_delete = #{logicDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPaymentApply" resultMap="BaseResultMap" parameterType="com.chanyun.entity.PaymentApply" >
    select
    <include refid="Base_Column_List" />
    from tb_payment_apply
    where order_no = #{orderNo,jdbcType=VARCHAR}
    and channel_type = #{channelType,jdbcType=VARCHAR}
    and payment_type = #{paymentType,jdbcType=VARCHAR}
    and logic_delete = 0
  </select>
</mapper>